body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 20px auto;
    font-family: 'Gowun Batang', serif;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, .button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-style: none;
    box-shadow: 0 0 2px 1px rgb(116, 115, 115);
}


button:hover {
    background-color: #45a049;
}

.required::before {
    content: "* ";
    color: red;
}